<% var title = "Course-Catalog"; %>
<% include ./partials/head-nav.ejs %>

<div class="container">
  <h1 class="center">Courses</h1>
  <table style="min-width: 700px;">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 10%;">
       <col span="1" style="width: 60%;">
    </colgroup>
    <thead>
      <th>Name</th>
      <th>Duration</th>
      <th>Cost</th>
      <th>Description</th>
    </thead>
    <tbody>
    <% courses.forEach(function(course) { %>
      <tr>
        <td><a href="<%= '/courses/' + course.id %>"><%= course.name %></a></td>
        <td> <%= course.coure_length %> </td>
        <td>$<%= course.cost %> </td>
        <td> <%= course.description %> </td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script>$(".button-collapse").sideNav();</script>
